# Copyrighted source texts — reference only, NEVER commit or deploy.
# Used privately to fact-check PlotPoint companion activities; nothing from these
# files is ever reproduced in the published rooms.
copyrighted_texts_do_not_upload/
plotpoint/copyrighted_texts_do_not_upload/
